.header {
  background: var(--background);
  position: relative;
}

.header__link {
  display: block;
  display: inline-block;
  text-decoration: none;
  color: var(--main-color);
  padding: 10px 25px;
  font-weight: 500;
  font-size: 20px;
  transition: 0.4s;
  position: relative;
}

.header__link::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--main-color);
  transition: 0.4s;
}

.header__link:hover::after {
  width: 100%;
}

.header__link_active {
  color: var(--secondary-color);
  cursor: none;
  pointer-events: none;
}

.header__logo {
  width: 150px;
  height: 80px;
  background: center url(../../images/logo.svg);
  transition: 0.4s;
}

.header__logo:hover {
  background: center url(../../images/logo_hover.svg);
}

.header__menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}

.header__social {
  width: 40px;
  height: 40px;
  background: center url(../../images/fb-icon.svg);
  transition: 0.4s;
}

.header__social:hover {
  background: center url(../../images/fb-icon_hover.svg);
}

.header__tel {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 500;
  background: rgba(145, 158, 153, 0.369);
  border-radius: 100px;
  color: var(--main-color);
  transition: 0.6s;
}

.header__tel:hover {
  background: var(--main-color);
  color: #b3e79e;
  /* color: var(--secondary-color); */
}

@media (max-width: 1030px) {
  .header__nav {
    display: none;
  }
}

@media (max-width: 460px) {
  .header__tel {
    display: none;
  }
}
