@import "./components/header/header.css";
@import "./components/burger/burger.css";
@import "./components/section/section.css";
@import "./components/home/home.css";
@import "./components/about/about.css";
@import "./components/card/card.css";
@import "./components/portfolio/portfolio.css";
@import "./components/price/price.css";
@import "./components/contacts/contacts.css";
@import "./components/footer/footer.css";

:root {
  --background: #b3e79e70;
  --main-color: rgb(21, 116, 57);
  --secondary-color: rgb(48, 168, 94);
  --border: 3px solid rgb(21, 116, 57);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 100%;
}

.body_grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.container_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

button {
  cursor: pointer;
}
