@import "./components/header/header.css";
@import "./components/section/section.css";
@import "./components/first-screen/first-screen.css";
@import "./components/about/about.css";
@import "./components/portfolio/portfolio.css";
@import "./components/footer/footer.css";
@import "./components/contacts/contacts.css";

:root {
  --background: #b3e79e70;
  --main-color: rgb(21, 116, 57);
  --secondary-color: rgb(48, 168, 94);
  --border: 3px solid rgb(21, 116, 57);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
