.card {
  width: 40%;
  background: var(--background);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px hsla(103, 60%, 76%, 0.291);
  transition: 0.4s;
}

.card__item {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card:hover {
  padding: 20px;
}

.card__link {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 200%;
  font-family: "IBM Plex Mono", monospace;
}

.card__link_about {
  background: url();
}
