.contacts {
  padding: 40px 20px;
}

.contacts__title {
  font-size: 200%;
  font-weight: 600;
}

.contacts__form {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  background: var(--background);
  border-radius: 15px;
}

.contacts__label {
  display: inline-block;
  margin-bottom: 5px;
  position: relative;
}

.contacts__input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid rgb(8, 70, 44);
  margin-bottom: 15px;
}

.contacts__radio-label {
  display: inline-flex;
  position: relative;
}

.contacts__radio-input {
  position: absolute;
  outline: none;
  clip: rect(0, 0, 0, 0);
}

.contacts__radio-state {
  display: flex;
  align-items: center;
  gap: 12px;
}

.contacts__radio-control {
  width: 17px;
  height: 17px;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;
  position: relative;
}

.contacts__radio-control::before {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
}

.contacts__radio-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.contacts__radio-input:checked
  + .contacts__radio-state
  .contacts__radio-control {
  border-color: var(--main-color);
}

.contacts__radio-input:checked
  + .contacts__radio-state
  .contacts__radio-control::before {
  background-color: var(--main-color);
}

.contacts__form-title {
  margin-top: 15px;
}

.contacts__btn {
  display: block;
  width: 50%;
  min-width: 200px;
  padding: 15px 25px;
  border-radius: 5px;
  color: var(--main-color);
  font-size: 17px;
  border: 1px solid rgb(8, 70, 44);
  transition: 0.4s;
  margin: 25px auto;
}

.contacts__btn_send {
  color: #fff;
  background: var(--main-color);
}
