.portfolio {
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 40px;
  justify-content: space-around;
}

.portfolio__card {
  position: relative;
  overflow: hidden;
}

.portfolio__card {
  width: 30%;
}

.portfolio .portfolio__card:nth-child(3),
.portfolio .portfolio__card:nth-child(5),
.portfolio .portfolio__card:nth-child(6) {
  order: 1;
}

.portfolio .portfolio__card:nth-child(1),
.portfolio .portfolio__card:nth-child(n + 3) {
  width: 55%;
}

.portfolio .portfolio__card:nth-child(odd) {
  margin: 100px 20px 0 10px;
}

.portfolio__hover {
  content: "Item title";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 249, 248, 0.7);
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.portfolio__card:hover .portfolio__hover {
  left: 0;
}

.portfolio .portfolio__card:nth-child(even) {
  width: 35%;
}

.portfolio .portfolio__card img {
  width: 100%;
  height: auto;
}

.portfolio__title {
  font-size: 150%;
  color: var(--main-color);
}

.portfolio__subtitle {
  font-size: 150%;
  font-weight: 600;
  margin: 10px;
}

.portfolio__nav {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: 50px;
  margin-bottom: 15px;
}

.portfolio__menu {
  display: flex;
  gap: 8px;
  list-style-type: none;
  font-size: 110%;
  margin-left: 150px;
}

.portfolio__link {
  text-decoration: none;
  font-size: 16px;
  color: var(--main-color);
}

.portfolio__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 100px;
  row-gap: 50px;
}

.portfolio__block:not(:last-child) {
  margin-bottom: 50px;
}

.portfolio__item {
  /* width: 40%;
  background: var(--background);
  padding: 5px;
  border-radius: 10px;
  transition: 0.4s;
  box-shadow: 1px 1px 10px hsla(103, 60%, 76%, 0.291); */
}

.portfolio__img {
  /* width: 100%;
  height: auto;
  border-radius: 10px;
  transition: 0.4s; */
}

/* .portfolio__item:hover {
  padding: 20px;
} */
