.portfolio {
  padding: 40px 20px;
}

.portfolio__title {
  font-size: 150%;
  color: var(--main-color);
}

.portfolio__subtitle {
  font-size: 150%;
  font-weight: 600;
  margin: 10px;
}

.portfolio__nav {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: 50px;
  margin-bottom: 15px;
}

.portfolio__menu {
  display: flex;
  gap: 8px;
  list-style-type: none;
  font-size: 110%;
  margin-left: 150px;
}

.portfolio__link {
  text-decoration: none;
  font-size: 16px;
  color: var(--main-color);
}

.portfolio__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 100px;
  row-gap: 50px;
}

.portfolio__block:not(:last-child) {
  margin-bottom: 50px;
}

.portfolio__item {
  /* width: 40%;
  background: var(--background);
  padding: 5px;
  border-radius: 10px;
  transition: 0.4s;
  box-shadow: 1px 1px 10px hsla(103, 60%, 76%, 0.291); */
}

.portfolio__img {
  /* width: 100%;
  height: auto;
  border-radius: 10px;
  transition: 0.4s; */
}

/* .portfolio__item:hover {
  padding: 20px;
} */
