.about__row {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 40px;
}

.about__row:nth-child(even) {
  flex-direction: row-reverse;
}

.about__title {
  font-size: 200%;
  font-weight: 600;
}

.about__text {
  width: 40%;
  font-family: "IBM Plex Mono", monospace;
  line-height: 2;
  padding: 100px 20px 20px;
  text-align: center;
}

.about__img-block {
}

.about__img {
  width: 100%;
  height: auto;
}
